<li>
    {{ name }}
    <button class="notDevoured" data-id="{{id}}" data-newdevoured="{{devour}}">
        Devour it!
    </button>
    <button class="delete-burger" data-id="{{this.id}}">Delete!</button>
</li>